body{
	color:#000000;
	font-size:14px;
	scrollbar-shadow-color : white;
	scrollbar-highlight-color : white;
	scrollbar-3d-light-color : white ;
	scrollbar-base-color : #156B1D;
	scrollbar-dark-shadow-color : white;
	scrollbar-arrow-color : white;
	scrollbar-face-color : #156B1D;

}
form {margin:0;padding:0;}
.menu {
	color: #156B1D;
	font-size: 12 px;
	font-weight: bold;
	text-decoration : none;
	cursor: hand;
	}
div,p,th,caption,blockquote,form{
	font-family: "Times New Roman", Times, serif;
	font-size: 12pt;
	line-height : 22px;
}
a:link{
	color:#000088;
	text-decoration: none;
}
a:visited{
	color: #000088;
	text-decoration: none;
}
a:active{
	color:#156B1D;
	text-decoration: none;
}
a:hover{
	color: #156B1D;
	text-decoration: none;
}

.inp{

	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 14px;
	border			: 1 solid #C0C0C0;
	background-color: #f5f5f5;
	color			: #000088;
	height			: 21;
	background-attachment : fixed;
}
.but{
	font-family: "MS Sans Serif", Geneva, sans-serif;
	font-size: 14px;
	border			: 1 solid #C0C0C0;
	background-color: #156B1D;
	color			: white;
	height			: 21;
	background-attachment : fixed;}
.m {
	background : #CFFAD3;
	border: 1 solid #C0C0C0;
	font-weight: normal;
}




